h1
{
    text-align: center;
    font-size: calc(3vw + 1.6rem);
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    /* text-align: center; */
    background-color:black;
}
.half-1
{
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
.half-2
{
    position: absolute;
    left:0;
    /* height: 100%; */
    width: 50%;
}
#video
{
    position: absolute;
    left:5%;
    width: 90%;
    border: 5px solid rebeccapurple;
    border-radius: 2vw;
}
.button
{
    width:150px;
    height:30px;
    /* background-color:black; */
    border-radius: 3px;
    color: red;
    border: 2px solid rebeccapurple;
}
@media screen and (max-width:900px) 
{
    .half-1
    {
        position: relative;
        width:100%;
        margin-bottom: 2vw;
    }
    .half-2
    {
        position: relative;
        width: 100%;
    }
}
